.body {
  text-align: center;
  padding: 0mm;
  margin: 0mm;
  background-image: url(/Images/OIP.jpg);
}
.nav-top {
  position: fixed;
  background-color: #5e2cc2;
  width: 100%;
  max-width: 100%;
  height: 20mm;
  z-index: 100;
  overflow: hidden;
}
.nav-in {
  display: flex;
  padding: 3mm;
  text-decoration: none;
  justify-content: space-between;
}
.logo {
  border-radius: 30mm;
  width: 15mm;
  height: 15mm;
}
.list-nav-top {
  list-style-type: none;
}
.li {
  display: inline;
  padding-top: 5mm;
}
.li a {
  color: white;
  text-align: center;
  padding: 1mm 1mm;
  text-decoration: none;
  padding: 3mm;
  margin: 3mm;
  border: solid 1mm #5e2cc2;
}
.li a:hover {
  background-color: #421fae;
  border-radius: 10mm;
  border: solid 1mm blueviolet;
}
.home {
  padding-top: 20mm;
  width: 410mm;
  height: 230mm;
  display: inline-block;
}
.top-header {
  margin-top: 10mm;
  display: flex;
  justify-content: space-evenly;
  padding: 5mm 5mm;
}
.left-title {
  display: block;
  padding: 3mm 3mm;
  width: 80mm;
  text-align: center;
  background-color: #b3d971;
  border-radius: 20px;
}
.right-title {
  width: 90mm;
  text-align: center;
  background-color: #b3d971;
  border-radius: 20px;
  padding: 3mm 3mm;
}
.content {
  text-align: center;
  padding: 3mm;
}
.in-content-1 {
  background-color: #b3d971;
  width: 50%;
  display: inline-block;
  margin-top: 10mm;
  padding: 3mm;
  border-radius: 30mm;
}
.in-content-2 {
  background-color: #b3d971;
  width: 50%;
  display: inline-block;
  margin-top: 10mm;
  padding: 7mm 5mm;
  border-radius: 30mm;
}
